<table class="table-with-style">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @neurons.each do |neuron| %>
  <tr>
    <td><%= link_to neuron.name, neuron %></td>
    <td><%= neuron.date %></td>
    <td><%= link_to image_tag("/images/look.gif"), neuron %></td>
    <td><%= link_to image_tag("/images/edit.gif"), edit_neuron_path(neuron) %></td>
    <td><%= link_to image_tag("/images/delete.gif"), neuron, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>