<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
-->
<!DOCTYPE html>
<html>
<head>
  <title>Brain@memrory</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><%= link_to "<span>Brain</span>@memrory</a>".html_safe, :controller=>"neurons", :action=>"new" %></h1>
			</div>
			<div id="menu">
				<ul>
          <li <%= @tab=="new" ? 'class="current_page_item"'.html_safe : '' %> > <%= link_to "Add a neuron", :controller =>"neurons", :action => "new" %></li>
					<li <%= @tab=="browse" ? 'class="current_page_item"'.html_safe : '' %> ><%= link_to "Browse", :controller =>"neurons", :action => "list" %></li>
          <li <%= @tab=="synapses" ? 'class="current_page_item"'.html_safe : '' %> ><%= link_to "Synapses", :controller =>"neurons", :action => "synapses" %></li>
					<li <%= @tab=="schizo" ? 'class="current_page_item"'.html_safe : '' %> ><%= link_to "Schizophrenia", :controller =>"users", :action => "index" %></li>
          <li><%= link_to "Out!", :controller =>"auth", :action => "logout" %></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- end #header -->
	<div id="page">
      
		<div id="content">
      <%- flash.each do |key, msg| -%>
	      <div id="<%= key %>">
          <span style="float:right;"><%= link_to_function 'X', "Effect.Fade('#{key}')" %></span>
          <%= msg %>
		      <div class="clear"></div>
	      </div>
      <%- end -%>
      
      <%= yield %>
    </div>

    <div id="sidebar">
      <ul>        
				<li>
					<h2>Search</h2>
					<div id="search" >
            <%= form_tag "/neurons/search/", :method => 'get' do %>
            <%= text_field_tag :search, params[:search], :id => "search-text", :size => "20" %>
            <%= submit_tag "Search", :name => nil, :id => "search-submit", :value => "GO" %>
            <% end %>
					</div>
					<div style="clear: both;">&nbsp;</div>
				</li>
				<li>
					<h2>Last neurons added</h2>
					  <ul>
              <li>Neuron 1</li>
              <li>Neuron 2</li>
            </ul>
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->

  </div>
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>Brain@memrory is a Ruby on Rails application developed by PAB in 2010.</p>
</div>
<!-- end #footer -->

</body>
</html>